[submodule "era-finance-core"]
	path = era-finance-core
	url = https://github.com/china630/dayday_erp.git
[submodule "era-hotel-pms"]
	path = era-hotel-pms
	url = https://github.com/china630/era-hotel-pms.git
[submodule "era-365-orchestrator"]
	path = era-365-orchestrator
	url = https://github.com/china630/era-365-orchestrator.git
[submodule "era-fb-pos"]
	path = era-fb-pos
	url = https://github.com/china630/era-fb-pos.git
